.grid-view .unread td {
    font-weight: bold;
}

.grid-view .not-processed td {
    background-color: #F5CACD;
}

.export-menu-container {
    /*display: inline;*/
}

.grid-view .resend-btn {
    position: relative;
}

.grid-view .label-danger {
    padding: .1em .4em .2em;
    position: absolute;
    top: -5px;
    left: 25px;
}